// 添加背景图片
body {
      //background: url(/images/bg.jpg);//自己喜欢的图片地址
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}


// 标题栏背景
.site-meta {
    padding: 20px 0;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    //background: #005C97;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}  

// 修改主体透明度
.main-inner{
    background: #fff;
    opacity: 0.95;
}
